# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/

# Build output
dist/
build/
dist-ssr/
.out/
.next/            # if you ever use Next.js
.storybook-out/
storybook-static/

# Caches
.cache/
.parcel-cache/
.eslintcache
.turbo/
.nyc_output/
coverage/
.rpt2_cache/

# Editor / OS
.DS_Store
Thumbs.db
.idea/
.vscode/
!.vscode/extensions.json

# Environment files (secrets)
.env
.env.*
!.env.example
.env.local
.env.*.local

# Hosting / deploy
.vercel/
.netlify/

# E2E & reports (optional)
cypress/videos/
cypress/screenshots/
playwright-report/
.vercel
vercel.json
